#jinja2: lstrip_blocks: "True"
[Unit]
Description=Solana Validator
After=network.target
StartLimitIntervalSec=0

[Service]
Restart=always
RestartSec=1
User={{ansible_user_id}}
LimitNOFILE=1024000
Environment="SOLANA_METRICS_CONFIG="{{solana_metrics_config}}""
ExecStart={{solana_path}}/solana-validator \
  --identity {{solana_home}}/validator-identity.json \
  --vote-account {{solana_home}}/validator-vote-account.json \
  --ledger {{solana_ledger}} \
  --entrypoint {{solana_entrypoint}} \
  --dynamic-port-range {{solana_dynamic_port_range}} \
  --rpc-port {{solana_rpc_port}} \
  --expected-genesis-hash {{solana_expected_genesis_hash}} \
  {% if solana_expected_bank_hash is defined %}
  --expected-bank-hash {{solana_expected_bank_hash}} \
  {% endif %}
  --expected-shred-version {{solana_expected_shred_version}} \
  {% if solana_wait_for_supermajority is defined %}
  --wait-for-supermajority {{solana_wait_for_supermajority}} \
  {% endif %}
  {% for item in solana_trusted_validators %}
  --trusted-validator {{item}} \
  {% endfor %}
  {% if solana_hard_fork is defined %}
  --hard-fork {{solana_hard_fork}} \
  {% endif %}
  --private-rpc \
  --no-untrusted-rpc \
  --limit-ledger-size \
  --log - \

[Install]
WantedBy=multi-user.target
